* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #0f172a;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.login {
    color: white;
    text-decoration: none;
}

.signup {
    background-color: #38bdf8;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.signup:hover {
    background-color: #0ea5e9;
}